/* Our countdown timer works great, but its kind of boring.
Flex your design skills to give this app some life!
Don't worry about the JavaScript, but write all the HTML and CSS you need.
It can help to look at other New Years countdown apps for inspiration.

After you feel good about your design, go back and refactor your HTML and CSS.
Is it clean and understandable? How are your naming conventions?

If you're looking for more, add some other features to this app.
This could be a great spot to explore CSSanimation!
Add some JavaScript if your new feature needs it.  */
body {
  background: #ecf3f3;
  margin: 0 auto;
}

.glitter {
  background-image: url('https://media.giphy.com/media/5T06ftQWtCMy0XFaaI/giphy.gif');
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  min-height: 100px;
}
.get-weird-button {
  background-image: linear-gradient(60deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 15px;
  margin-top: 30px;
  font-size: 1.5em;
}
.click-me {
  font-size: .5em;
}
main {
  background-color: #8B4513;
  max-width: 700px;
  min-height: 400px;
  border-color: gold;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 30px 10px 10px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 10%;
}

h1, h3 {
  text-align: center;
}

.tv-screen {
  color: white;
  background-color: black;
  border-radius: 10px;
  border-width: medium;
  border-color: grey;
  border-style: solid;
  max-width: 600px;
  min-width: 80%;
  padding-top: 10%;

}
.dials-container {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5%;

}

.weird-gif {
  background-image: url('https://media.giphy.com/media/j3E93eL8TUEZ0TPwn4/giphy.gif');
  background-size: cover;
}

.tv-dial {
  background-color: black;
  font-size: .5em;
  text-align: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-style: ridge;
  border-color: grey;
  border-width: thick;
}

.dial-name {
    color: white;
    opacity: 0.6;
    padding-top: 10%;
}

.dial-2 {
  margin-top: 3px;
}

.logo-container {
  margin-top: auto;
  padding-left: 5px;
}

.turing-logo {
height: 40px;
width: 40px;
}

.countdown-dhms {
  display: flex;
  justify-content: space-around;
}

.tv-stand {
  height: auto;
  width:auto;
  display: flex;
  justify-content: center;

}
.tv-foot1, .tv-foot2 {
  background-color: #8B4513;
  width: 20px;
  height: 50px;
  border-radius: 0% 0% 40% 40%;
}

.tv-foot1 {
  margin-right: 20%;
}
